.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__head {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0rem;
    left: 0rem;
    padding: 1rem;
    width: 100%;
    background-color: #333333;
  }

  &__logo {
    height: 2rem;
    width: 8rem;
  }

  
  &__logout {
    display: flex;
    align-items: center;
    img{
      cursor: pointer;
    }
  }
  
  &__username{
    color: #fff;
    padding: 0 1rem;
    font-weight: 800;
    font-size: 1rem;
  }

  &__card {
    background-color: #f8f8f8;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 15px;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
      transform: translateY(-5px);
    }

    img {
      margin-bottom: 10px;
    }
  }

  &__label {
    font-size: 18px;
    color: #333;
  }
}

.link {
  text-decoration: none;
}
